* {
    box-sizing: border-box;
}

:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;

    --color-theme-alt-bg: #0284c7;
    --color-theme-alt-text: white;

    --color-theme-main: #0c0a09;
    --color-theme-main-bg: #09090b;
    --color-theme-main-shadow: #6b7280;

    --color-theme-main-headings: #e5e7eb;
    --color-theme-main-text: #fafaf9;

    --color-theme-user: #059669;
}

h1,h2,h3,h4,h5,h6,p,a {
    margin: 0;
    padding: 0;
    color: inherit;
}

button {
    appearance: none;
    color: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h6 {
    font-size: 1rem;
}

h5 {
    font-size: 1.1rem;
}

h4 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.7rem;
}

h1 {
    font-size: 2rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html, body {
    margin: 0;
    padding: 0;

    height: 100%
}

.container {
    height: 100%;
    display: grid;
    grid-template-rows: 8rem 1fr 6rem;
    background: var(--color-theme-main-bg);
}

.header, .footer, .page {
    display: flex;
    padding: 2rem 5%;
}

.header, .footer {
    color: var(--color-theme-main-headings);
    align-items: center;
}

.header {
    background: var(--color-theme-main);
    border-bottom: 1px solid var(--color-theme-main-text);
    border-radius: 0 0 2rem 2rem;

    justify-content: space-between;
}

.addbook {
    width: 3rem;
    height: 3rem;

    border: 1px solid var(--color-theme-main-text);
    border-radius: 0.5rem;
    background: none;

    transition: all 0.2s linear;
}

.addbook:hover {
    background: var(--color-theme-main-text);
    color: var(--color-theme-main);
    box-shadow: 0 0 0.3rem 0.3rem var(--color-theme-main-shadow);
}

.addbook:active {
    transition: all 0.1s linear;

    background: var(--color-theme-user);
}

.card {
    border: 1px solid var(--color-theme-main-text);
    border-radius: 1rem;
}

.footer {
    justify-content: center;

    background: var(--color-theme-main);
    border-top: 1px solid var(--color-theme-main-text);
    border-radius: 2rem 2rem 0 0;
}