* {
    box-sizing: border-box;
}

:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;

    --color-theme-main: #0c0a09;
    --color-theme-main-bg: #09090b;
    --color-theme-main-shadow: #6b7280;

    --color-theme-main-headings: #e5e7eb;
    --color-theme-main-text: #fafaf9;

    --color-theme-user: #059669;

    --color-theme-read: #059669;
    --color-theme-unread: #f59e0b;
    --color-theme-delete: #ef4444;
}

h1,h2,h3,h4,h5,h6,p,a {
    margin: 0;
    padding: 0;
    color: inherit;
}

button {
    appearance: none;
    color: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h6 {
    font-size: 1rem;
}

h5 {
    font-size: 1.1rem;
}

h4 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.7rem;
}

h1 {
    font-size: 2rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html, body {
    margin: 0;
    padding: 0;

    height: 100%
}

.container {
    min-height: 100%;
    display: grid;
    grid-template-rows: 8rem 1fr 6rem;
    background: var(--color-theme-main-bg);
}

.header, .footer, .page {
    display: flex;
    padding: 2rem 5%;
}

.header, .footer {
    color: var(--color-theme-main-headings);
    align-items: center;
}

.header {
    background: var(--color-theme-main);
    border-bottom: 1px solid var(--color-theme-main-text);
    border-radius: 0 0 2rem 2rem;

    justify-content: space-between;
}

.heading {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon {
    width: 3rem;
    height: 3rem;
    fill: var(--color-theme-main-headings);
}

button {
    border: 1px solid var(--color-theme-main-text);
    border-radius: 0.5rem;
    background: none;

    transition: all 0.2s linear;
}

button:hover {
    background: var(--color-theme-main-text);
    color: var(--color-theme-main);
    box-shadow: 0 0 0.3rem 0.3rem var(--color-theme-main-shadow);
}

button:active {
    transition: all 0.1s linear;

    background: var(--color-theme-user);
}

.newbook {
    width: 3rem;
    height: 3rem;
}


dialog {
    background-color: var(--color-theme-main-bg);
    color: var(--color-theme-main-text);
    border-radius: 2rem;
}

#bookdialog fieldset{
    border-radius: 1rem;
    padding: 1rem;
}

fieldset ul {
    display: grid;
    grid-auto-rows: 3rem;
}

fieldset li {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    gap: 1rem;
}

#bookdialog input {
    appearance: none;
    border: 1px solid var(--color-theme-main-headings);
    padding: 0.5rem 0.5rem;
    border-radius: 0.2rem;

    background: none;
    color: var(--color-theme-main-text);
}

#bookdialog input:focus {
    outline: 2px ridge var(--color-theme-user);
    box-shadow: 0 0 0.2rem 0.2rem var(--color-theme-user);
}

#bookdialog input[type="checkbox"] {
    background: none;
    width: 1rem;
    height: 1rem;
    padding: 0.5rem;

    transition: all 0.2s linear;
}

#bookdialog input[type="checkbox"]:checked {
    background: var(--color-theme-user);
}

.addbook {
    grid-column: 1 / -1;
    padding: 1rem 2rem;
    justify-self: center;
}

.library {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    grid-auto-rows: min-content;
    gap: 1rem;
}

.card {
    background: var(--color-theme-main);
    border: 1px solid var(--color-theme-main-text);
    border-radius: 1rem;

    color: var(--color-theme-main-text);

    display: grid;
    grid-template-rows: 6rem;
    grid-auto-rows: 3rem;
}

.card:hover {
    box-shadow: 0 0 0.3rem 0.3rem var(--color-theme-main-shadow);
}

.card > *:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.card > *:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.card > *:not(:last-child) {
    border-bottom: 1px solid var(--color-theme-main-text);
    padding: 1rem;
}

.card .title {
    color: var(--color-theme-main-headings);
    background: var(--color-theme-user);
}

.card .pages::after {
    content: " pages";
}

.card.read .status {
    color: var(--color-theme-read);
}

.card.unread .status {
    color: var(--color-theme-unread);
}

.card.read .status::after {
    content: "Read";
}

.card.unread .status::after {
    content: "Unread";
}

.card .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card button {
    border-radius: 0;
}

.card .buttons button:first-child {
    border-bottom-left-radius: inherit;
}

.card .buttons button:last-child {
    border-bottom-right-radius: inherit;
}

.card.read .markread {
    color: var(--color-theme-unread);
}

.card.unread .markread {
    color: var(--color-theme-read);
}

.card.read .markread::after {
    content: "Mark as unread";
}

.card.unread .markread::after {
    content: "Mark as read";
}

.card button.delete:active {
    background: var(--color-theme-delete);
}

.footer {
    justify-content: center;

    background: var(--color-theme-main);
    border-top: 1px solid var(--color-theme-main-text);
    border-radius: 2rem 2rem 0 0;
}